<?xml version="1.0"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>{% block title %}{% endblock %}</title>
        <link>{% block url %}{% endblock %} </link>
        <descripcion>{% block descripcion %}{% endblock%}</descripcion>
        <language>{% block idioma %}{{ app.request.locale }}{% endblock %}</language>
        <pubDate>{% block fechaPublicacion %}{{ 'now'|date('r') }}{% endblock %}</pubDate>
        <lastBuildDate>{% block fechaCreacion %}{{ 'now'|date('r') }}{% endblock %}</lastBuildDate>
        <generator>Symfony2</generator>
        <atom:link href="{% block self %}{% endblock %}" rel="self" type="application/rss+xml" />

        {% block items %}{% endblock %}
    </channel>
</rss>